extends layout

include mixins/_listingInput

block content
  section(class="container-fluid")
    div(class="form-container col-md-6 col-md-offset-3")
      h1(class="form-header") Creat a Listing
      form(action="/create-listing" method="post")
        input(type="hidden" name="_csrf" value= csrfToken)
        +listingInput('name', 'text')
        +listingInput('address', 'text')
        +listingInput('description', 'textarea')
        +listingInput('website', 'url')
        +listingInput('email', 'email')
        +listingInput('phone', 'tel')
        div(form-footer form-group pull-right)
          input(class="btn btn-success" type="submit" value="Create Listing")
